<section id="author-pic">
  <img src="http://www.gravatar.com/avatar/4b99d86fab2d04fed13102bc6ca4c66b?s=90" />
</section>

<div id="after-post">

  <section id="author">
    <h4>Carlos Augusto Borges</h4>
    <p>
      Cientista da Computação. Estudou Computação na Universidade de Brasília.
      Atualmente desenvolve em Java (Web e Android) e Swift.
    </p>
  </section>

  <section id="share">    
    <ul>
      <li>{% include share-facebook.html %}</li>
      <li>{% include share-twitter.html %}</li>
      <li>{% include share-feed.html %}</li>
    </ul>
  </section>
  <div class="clearfix"></div>
</div>
