{% assign current = page.url | downcase | split: '/' %}

<menu>
    <menuitem {% if current[1]=="blog" %}class="active" {% endif %}>
    <a href="/blog">Blog</a>
    </menuitem>
    <!-- <menuitem {% if current[1] == "contact" %}class="active"{% endif %}><a href="/contact">Contato</a></menuitem> -->
    <menuitem>
    <a href="https://github.com/{{ site.github_username }}" target="_blank">
        <i class="fa fa-github fa-lg"></i>
    </a>
    </menuitem>
    <menuitem>
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
        <i class="fa fa-twitter fa-lg"></i>
    </a>
    </menuitem>
</menu>