/*---- BASIC ELEMENTS ----*/
* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    color: #333333;
}

body {
    background-color: #f8f8f8;
}

h1 {
    font-weight: 400;
    font-size: 4em;
    margin: 3px;
}

h2 {
    font-weight: 100;
    font-size: 3.5em;
    margin: 0;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #efefef, #ddd, #efefef);
    clear: both;
    position: relative;
    top: 20px;
}

main {
    padding: 50px $side-margins;
}

/*---- HELPER CLASSES ----*/
.vcenter {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hcenter {
	text-align: center;
}
