form {
    label {
        display: block;
        margin: 10px 0 0 0;
    }

    input, textarea {
        transition: border-color 0.5s;
        font-family: Roboto, sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ddd;
        outline-width: 0;
    }

    input:focus, textarea:focus {
        border-color: #999;
    }

    textarea {
        height: 200px;
    }

    input[type="button"], input[type="submit"], button {
        border-color: #333;
        color: #333;
        transition: color 0.5s, border-color 0.5s;
        width: 25%;
        float: right;
        font-weight: 300;
        font-size: 1.1em;
        background-color: #fff;
    }

    input[type="button"]:hover, input[type="submit"]:hover, button:hover {
        border-color: #6b6;
        color: #6b6;
        cursor: pointer;
    }


}
