.vcenter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hcenter {
    text-align: center;
}

.clearfix {
    clear: both;
}

.no-mobile {
    @include respond-to(handhelds) {
        visibility: hidden;
    }
}

.no-tablet {
    @include respond-to(medium-screens) {
        visibility: hidden;
    }
}
