.logo {
    margin-top: 20px;
    float: left;
    width: 15%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: $side-margins;
}

menu {
    text-align: right;
    padding-top: 20px;
    float: left;
    width: 85%;
    padding-right: $side-margins;
}

menuitem {
    margin: 0 10px;
    text-transform: uppercase;
}

menuitem a {
    text-decoration: none;
    color: #444;
    transition: color 0.25s;
}

menuitem a:hover {
    color: #aaa;
}

menuitem.active {
    font-weight: 300;
}
