menu {
    text-align: right;
    padding-top: 20px;
    float: left;
    margin-left: 0;
    padding-left: 0;

    width: 60%;

    @include respond-to(handhelds) {
        width: 80%;
    }
}

menuitem.active {
    a {
        color: #222;
        font-weight: 400;
    }
}

menuitem {
    margin: 0 10px;
    text-transform: uppercase;

    a {
        font-weight: 300;
        text-decoration: none;
        color: #444;
        transition: color 0.25s;
    }

    a:hover {
        color: #aaa;
    }
}

.logo {
    margin-top: 20px;
    float: left;
    display: flex;
    align-items: center;
    text-align: center;

    width: 40%;

    @include respond-to(handhelds) {
        width: 20%;
    }
}

#logo-text {

    @media only screen and (max-width: 712px) {
        visibility: hidden;
    }

    h1, h2 {
        font-size: 0.8em;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    h2 {
        font-weight: 300;
    }

    padding-left: 10px;
    font-weight: 400;
}
