.logo-box {
    width: 100%;
    min-height: 400px;
    text-align: center;


    h1 {
        text-transform: none;
        font-weight: 400;
        font-size: 3.5em;
        margin: 3px;

        @include respond-to(medium-screens) {
            font-size: 2.5em;
        }

        @include respond-to(handhelds) {
            font-size: 1.5em;
        }
    }

    h2 {
        text-transform: none;
        font-weight: 100;
        font-size: 3.0em;
        margin: 0;

        @include respond-to(medium-screens) {
            font-size: 1.5em;
        }

        @include respond-to(handhelds) {
            font-size: 1.0em;
        }
    }
}
