Bem vindo a série <i>Workflow Back-end Java</i>. Esta série está dividida nas seguintes partes:

<ul>
    {% for post in site.posts reversed %}
        {% if post.serie != 'workflow-back-end-java' %}
            {% continue %}
        {% endif %}

        <li>
            <a href="{{post.url | prepend:site.baseurl }}">
                {{ post.title }}
                {% if post.subtitle %}
                - {{ post.subtitle }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
