Ao longo da série vou mostrar o <i>workflow</i> que utilizo atualmente para desenvolver
<i>back-ends</i>. O passo-a-passo será feito gerando uma API REST de um serviço de
gestão de tarefas. Esta série está dividida nas seguintes partes:

<ul>
    {% for post in site.posts reversed %}
        {% if post.serie != 'workflow-back-end-java' %}
            {% continue %}
        {% endif %}

        <li>
            <a href="{{post.url | prepend:site.baseurl }}">
                {{ post.title }}
                {% if post.subtitle %}
                - {{ post.subtitle }}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
