<div class="sobre-a-serie">

    <h1> Sobre a série</h1>

    <p>Ao longo da série vou mostrar o <i>workflow</i> que utilizo para desenvolver
    <i>back-ends</i>. O passo-a-passo será feito gerando uma API REST de um serviço de
    gestão de tarefas.</p>

    <p>A série considera que o leitor já possui uma certa experiência
    com Java ou desenvolvimento Web e portanto tenta ser o mais sucinta possível.</p>
    
    <h2> Posts da série </h2>

    <ul>
        {% for post in site.posts reversed %}
            {% if post.serie != 'workflow-back-end-java' %}
                {% continue %}
            {% endif %}

            <li>
                <a href="{{post.url | prepend:site.baseurl }}">
                    {{ post.title }} - {{ post.subtitle }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <p>
        <i>A série está dividida em 11 partes mas somente os artigos já publicados são mostrados acima.</i>
    </p>

</div>
