---
layout: default
comments: true
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 itemprop="name headline">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {% include date-pt-br.html data=page.date %}
    </time>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer>
      {% include author-and-share.html %}

      {% if page.comments %}
        {% include disqus.html %}
      {% endif %}
  </footer>
</article>
